* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.Body {
    height: 100vh;
    background-color: black;
    display: flex;
    position: relative;
}
.color-block {
    background-color: blue;
    height: 200%;
    width: 100%;
    position: fixed;
    transform: rotate(-15deg);
    right: 83%;
    top: -50%;
}
.photo {
    background-image: url(https://scontent.feoh1-1.fna.fbcdn.net/v/t1.6435-9/117771437_3303083673092129_3314309794266170010_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=174925&_nc_ohc=yqsTXbhRFBIAX_Po5vX&_nc_ht=scontent.feoh1-1.fna&oh=68a5e90f027b0cac8d906a507d087076&oe=60971F6F);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80%;
    border-radius: 15%;
    margin: 2em;  
    position: fixed;  
}
.description {
    color: white;
    height: 60%;
    margin-left: 40%;
    margin-top: 10%;
} 
.text-h2 {
font-size: 3em;
}
.text-p {
    font-size: 1.5em;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.button {
    border-radius: 20%;
    border-color:#4169e1;
    padding: 1em;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
}